* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin-top:   5px;
    margin-left:  5px;
    margin-right: 5px;
}

window#waybar {
    background-color: rgba(100, 114, 125, 0);
    border-bottom: 0px solid rgba(100, 114, 125, 0.5);
    color: #202020;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.8;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* button:hover { */
/*     background: inherit; */
/*     box-shadow: inset 0 0px #faffcb; */
/* } */

#mode {
    background-color: #202020;
    border-bottom: 3px solid #faffcb;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-window,
#custom-arch,
#custom-pacman,
#custom-junk,
#custom-custom,
#custom-workspaces,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#window,
#workspaces,
#mpd {
    padding: 0 10px;
    margin: 0;
    color: #faffcb;
}

.modules-left {
    padding: 0 15px;
    border-radius: 15px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: #bf6b85;
    color: #121214;
}

#battery {
    background-color: #589979;
    color: #121214;
}

#battery.charging, #battery.plugged {
    color: #faffcb;
    background-color: #145439;
}

@keyframes blink {
    to {
        background-color: #faffcb;
        color: #121214;
    }
}

#battery.critical:not(.charging) {
    background-color: #d32620;
    color: #faffcb;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #121214;
}

#cpu {
    background-color: #589979;
    color: #121214;
}

#memory {
    background-color: #bf6b85;
    color: #121214;
}

#disk {
    background-color: #fea53d;
}

#backlight {
    background-color: #fdff70;
    color: #121214;
    padding-left: 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#network {
    background-color: #3e63bc;
}

#network.disconnected {
    background-color: #e7574e;
}

#pulseaudio {
    background-color: #fea53d;
    color: #121214;
}

#pulseaudio.muted {
    background-color: #32bcbc;
    color: #121214;
}

#wireplumber {
    background-color: #faffcb;
    color: #121214;
}

#wireplumber.muted {
    background-color: #e7574e;
}

#custom-media {
    background-color: #589979;
    color: #145439;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #589979;
}

#custom-media.custom-vlc {
    background-color: #fdff70;
}

#temperature {
    background-color: #fea53d;
    color: #121214;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 5px;
}

#temperature.critical {
    background-color: #e7574e;
    color: #121214;
}

#tray {
    background-color: #32bcbc;
    padding-right: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #e7574e;
}

#idle_inhibitor {
    background-color: #121214;
}

#idle_inhibitor.activated {
    background-color: #faffcb;
    color: #121214;
}

#custom-window {
    color: #faffcb;
}

#window {
    /* border-radius: 20px; */
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #111111;
    color: #ffffff;
    border-radius: 15px;
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
}

#submap {
    color: #121214;
    background-color: #d32620;
    padding: 0 15px;
    margin: 0;
    border-radius: 15px;
}

/* #submap.kill { */
/*     background-color: #000000; */
/* } */

#custom-arch {
    background-color: #121214;
    padding-left: 15px;
    margin-left: -15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

#workspaces {
    background-color: #111111;
}

/* #custom-pacman { */
/*     background-color: #121214; */
/* } */

#custom-junk.low,
#custom-pacman.low {
    background-color: #fdff70;
    color: #121214;
}

#custom-junk.middle,
#custom-pacman.middle {
    background-color: #fb781e;
    color: #121214;
}

#custom-junk.high,
#custom-pacman.high {
    background-color: #d32620;
    color: #121214;
}

#custom-custom.low {
    background-color: #589979;
    color: #121214;
}

#custom-custom.middle {
    background-color: #fdff70;
    color: #121214;
}

#custom-custom.high {
    background-color: #d32620;
    color: #121214;
}

#workspaces button {
    padding: 0px 5px 5px 5px;
    margin: 2px 0;
    background-color: transparent;
    color: #faffcb;
    border-radius: 3px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.6);
}

#workspaces button.focused {
    background-color: #121214;
}

#workspaces button.urgent {
    background-color: #e7574e;
}

#workspaces button.active {
    background-color: #222222;
    /* border-bottom: 0px solid rgba(100, 114, 125, 0.5); */
    transition-property: background-color;
    transition-duration: .5s;
}

